html,body {
  width: 100%;
  height: 100%;
}
*{  
  margin: 0;  
  padding: 0;  
}  
.both-content{
  width: 100%;  
  height: 100%;
}
.axis-content{
  width:50%;
  height:100%;
  float: left;
}
.three-content{
  width:50%;
  height:100%;
  float: right;
}
.left-nav{
  width: 80px;
  height: 100%;
  background: black;
  float: left;
}
.left-nav ul  {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  
}
.left-nav ul li {
  margin: 0 15px 20px 15px;
  list-style:none;
  width:50px;
  height:50px;
  line-height:50px;
  text-align: center;
  margin-right:10px;
  background: blue;
  color:#FFFFFF;
}

.temp{opacity:0.3;filter:alpha(opacity=30);position: absolute;width:50px;height:50px;cursor:move;border:1px solid #888;background:#000;}
.drag-grid{
  float: left; 
  border-collapse:collapse;
}
table,tr,td {
  border: 1px solid #000;
}
.drag-grid td{
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
/* .info{
  margin: 20px 0;
  position: absolute;
  text-align: center;
  opacity: 0.2;
  width:100%;
}
.info a{
  display: block;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}
a.title{
  font-size: 20px;
  font-weight: bold;
} */