.card.card-ios {
  max-width: 15rem;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.15);
  border-radius: 1rem;
}

.card .card-body-ios {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.card-ios .card-img-top,
.card-ios .card-img {
  max-height: 12rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-img-bottom {
  max-height: 12rem;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.card-ios .card-img-full {
  border-radius: inherit;
  max-height: unset;
}

.card-ios-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.card-ios-overlay.bottom {
  top: unset;
}

.card-ios-overlay h4,
.card-ios-overlay .card-ios-info {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.card-ios-overlay h4.card-ios-dark-bg {
  background-color: #282828e8!important;
  color: #ffffff;
}

.card-ios-info {
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.card-ios-info .card-text {
  font-weight: bold;

}

.btn-ios {
  border-radius: 1rem;
  font-weight: bold;
}

#card-nom {
  background-color: #339a99;
}

#card-monkey {
  background-color: #859c79;
}

#card-game {
  background-color: #0a4c5d;
}