*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.contain{
    width: 1200px;
    /* height: 100%; */
    margin: 0 auto;
}
a{
    text-decoration: none;
}
input{
    border: 0 none;
    outline-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    float: left;
    list-style: none;
}
body{width:100%;height:100%;}

/*澶撮儴鏍囬鏍廠tart*/
/* 鑳屾櫙 */
#backGround{
    width:100%;
    height: 640px;
    background: url("../img/sysimg/banner1.png") no-repeat 100% 100%;
    position: relative;
}
nav{
    width: 100%;
    height: 70px;
    overflow: hidden;
    line-height: 70px;
    position: relative;
}
.hd_left{margin-top:5px;}
.hd-middle{position: absolute;bottom: 0px;left: 140px;}
.hd_right{float:right;position: absolute;bottom: 0px;right: 0;}
.hd_right li{
    float: left;
    list-style: none;
    /* height: 50px; */
}
.hd_right li a, .hd-middle li a{
    /* font-weight: 700; */
    font-size: 16px;
    color: #fff;
    padding: 0 6px;
}
.hd_right li a:hover, .hd-middle li a:hover{
    color: #4c8bff;
    text-decoration: underline;
}
.nav-last{
    margin-top:20px;
    height:30px;
    line-height: 30px;
    border: 1px solid #fff;
    cursor: pointer;
    box-sizing: border-box;
}
.hd_right .active {
    font-weight: 700;
    font-size: 14px;
    color: #4c8bff;
    opacity: 0.8;
    line-height: 40px;
    border-right: 1px solid #505050;
    padding: 0 12px;
}

#banner{padding:86px 0;}
#banner p{
    color: #fff;
}
#banner .big-title{
    font-size: 37px;
    padding-bottom:29px;
}
#banner .sma-title{
    font-size: 20px;
}
.detail{
    background-color: #000B2C;
    height:40px;
    width: 160px;
    border: 1px solid #fff;
    cursor: pointer;
}
.detail a{color: #fff;font-size: 16px;}
.bottom-nav{
    width: 100%;
    height: 130px;
    background:rgba(255,255,255,0.2);
    position: absolute;
    bottom:0px;
}
.info{width:24%;height:130px;padding:20px 18px;border-left:1px solid rgba(255,255,255,0.2);box-sizing: border-box;display: inline-block;}
.info:last-child{border-right: 1px solid rgba(255,255,255,0.2);}
.info p{
    color: #fff;
}
.info .one-line{font-size: 18px;}
.info .two-line{font-size: 13px;}
/*澶撮儴鏍囬鏍忕粨鏉�*/
/* 涓讳綋閮ㄥ垎寮�濮� */
#main{
    /* height: 650px; */
    /* background-color: black; */
}

.main-top{
    height: 60px;
    padding-top:40px;
    padding-bottom:10px;
    text-align: center;
    /* background-color: pink; */
}
.main-top p{color: #4D4D4D;font-size: 20px;font-weight: 700;padding-bottom:10px;}
.main-top hr{display: inline-block;}
.main-top span{font-size:12px;padding:25px;color: #666;}
.main-bottom{
    /* display: flex; */
    margin-top:50px;
}
.feature{
    /* flex-wrap: wrap; */
    /* display: inline-block; 琛屽唴鍧椾細浣垮厓绱犲簳閮ㄥ榻� */
    float: left;
    height:200px;
    width:25%;
    padding:10px 50px;
    box-sizing: border-box;
    text-align: center;
}
.feature h4{padding:15px;font-size:16px;}
.feature p{font-size: 12px;color: #666;}

.cloud{background-color:#F5F5F5;position: relative}
.cloud .cloud-img{width:1005px;height:466px;margin:0 auto;background: url("../img/sysimg/banner2.png") no-repeat 100% 100%;}
.asset-info{width:530px;height:100px;position: absolute;top: 254px;left:50%;}
.cloud-img p{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #121213;
    text-align: left;
}
.more{
    height:40px;
    width: 160px;
    border: 1px solid #999;
    background-color: #F5F5F5;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform:translate(-50%,-50%);
}
.more a{
    color: #4D4D4D;
    font-size: 16px;
    
}
.customer{margin:50px auto;}
.cus1{width:230px;height:50px;padding:25px 0;display: inline-block;}
/*搴曢儴閮ㄥ垎Start*/
#footer{ 
    background-color: #10172D;
    widows: 100%;
    height:287px; 
    font-size:12px;
    color: #fff;
    /* position: absolute;
    bottom: 0px;
    left: 50%;
    transform:translate(-50%,-50%); */
}        
.foot-top{
    height: 157px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    /* margin-top: 20px; */
    padding: 50px 0;
    
}
.foot-top .inner{
    width:100%;
    height:157px;

}
.inner li{
    height:157px;
    float: left;
}
.inner li h3{
    margin-bottom:40px;
    
    font-size: 18px;
}
.inner li p{
    height:20px;
    font-size: 14px;
}
.inner li:first-child{
    width:210px;
    height: 157px;
    border-right:1px solid rgba(255,255,255,0.5); 


}
.inner li:nth-child(2){
    width:300px;
    height: 157px;
    padding:0 80px;

}
.inner li:nth-child(3){
    width:500px;
    height: 157px;
    padding-left:0 80px;

}
.btp-fis a{
    color: #fff;
    font-size: 14px;
}
#footer .foot-bot{
    height:30px; 
    text-align: center;
    line-height: 30px;
}
