 *{
        padding: 0;
        margin: 0;
        list-style: none;
        outline: none;
    }
    .clearfix:before, .clearfix:after {
        content: "";
        display: block;
    }
    .clearfix:after {
        clear: both;
    }
    .clearfix {
        *zoom: 1;
    }
    .contain{
        width: 1200px;
        /* height: 100%; */
        margin: 0 auto;
    }
    a{
        text-decoration: none;
    }
    input{
        border: 0 none;
        outline-style: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* li{
        float: left;
        list-style: none;
    } */
    body{width:100%;height:100%;background-color: #F3F3F4;box-sizing: border-box;margin:auto;}
   
    main{padding:10px 20px;width:100%;}
    @media (max-width: 768px) {
        main{width:768px;}
        .item {width: 700px;}
        .module {width: 700px;}
    }  
    @media (max-width: 960px){
        main{width:960px;}
        .item {width: 480px;}  
        .module {width: 480px;}
    }  
    @media (max-width: 1290px){  
        main{width:100%;}
        .item {width: 640px;}  
        .module {width: 640px;}
    }  
    .item {
        width: 100%;
        height: 190px;
        margin-bottom: 20px;
        margin-top: 10px;
        position: relative;
        padding: 0 10px;
        background-color: #fff;
        border-radius: 3px;
        /* box-shadow:5px 2px 20px rgba(68,72,76,0.1)  */
    }

    .module{
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
        margin-top: 10px;
        position: relative;
        padding: 0 10px;
        background-color: #fff;
        border-radius: 3px;
    }
    .item-top{height: 40px;border-bottom:1px solid #E6E6E6;line-height: 40px;box-sizing: border-box;}
    .before{float: left;width:6px;height: 18px;background-color: #999;border-radius: 3px;position: absolute;top:11px;}
    .tips{float: left;font-size: 16px;font-weight: 900px;padding-left:15px;color: #666;}
    .more{float: right}
    .more a{color: #808080;font-size: 14px;}
    .item-l{width:80px;height:100%;padding-top: 10px;border-right:2px solid #CCC;box-sizing: border-box;}
    .item-l .time,.item-r .notify{padding:3px;position: relative;color: #808080;}
    .item-l .time:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 76px;
      width: 6px;
      height: 6px;
      background-color: #999;
      border-radius: 50%;
      /* box-shadow: 0 -2px 1px 0px #ccc; */
    }
    .item-r{position: absolute;top: 50px;left: 100px;}
    .item-r .notify{white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
    .item-r .notify a{color:#4D4D4D;}
    .item-r .notify a:hover{text-decoration: underline;color:blue;}
    .module-top{height: 50px;border-bottom:1px solid #E6E6E6;line-height: 50px;box-sizing: border-box;}
    .module-bottom{position: relative;width:640px;}
    .percent{position: absolute;top:75px;left: 175px;text-align: center;}
    .percent p{color: #999;}
    /* .nei{width: 140px;height:140px;background-color:#fff;border-radius: 50%;position: absolute;top:14px;left: 14px;} */
    #canvas{padding-left:100px;position: absolute;top:10px;left:0;}
    .module-right{
        width:200px;
        height:100px;
        float:left;
        margin-left: 65%;
        margin-top: 40px;
        /* position: absolute;top: 40px;right:20px; */
    }
    .plan{width:170px;height:16px;margin:35px auto;}
    .icon,.icon2, .icon3{width:16px;height:16px; background:rgba(179,179,179,1);border-radius: 50%;float: left}
    .icon2{
        background: linear-gradient( to right,#3B7DFF,#4FD8FF);
        background-color: -webkit-linear-gradient( left,#3B7DFF,#4FD8FF);
        background-color: -o-linear-gradient( left,#3B7DFF,#4FD8FF);
    }

    .icon3{
        background: linear-gradient( to right,#A03BFF,#92A4FF);
        background-color: -webkit-linear-gradient( left,#A03BFF,#92A4FF);
        background-color: -o-linear-gradient( left,#A03BFF,#92A4FF);
    }

    .today{color: #999;line-height: 16px;text-align: center;padding-left:10px;}
    .plan .number{font-size: 16px;font-weight: 700;color:#333;padding-left: 15px;}

		.circle {
			width: 168px;
            height: 168px;
            float:left;
            margin-left: 120px;
            position: absolute;
            left:0px;
            top:30px;
			border-radius: 50%;
			background: linear-gradient( to top,#A03BFF,#92A4FF);
		}
		.pie_left, .pie_right {
			width:168px; 
			height:168px;
			position: absolute;
			top: 0;left: 0;
		}
		.left, .right {
			width:168px; 
			height:168px;
			background:#F3F3F4;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.pie_right, .right {
			clip:rect(0,auto,auto,84px);
		}
		.pie_left, .left {
			clip:rect(0,84px,auto,0);
		}
		.mask {
			width: 140px;
			height: 140px;
			border-radius: 50%;
			left: 15px;
			top: 15px;
			background: #FFF;
			position: absolute;
			text-align: center;
			line-height: 150px;
			font-size: 24px;
			font-weight: bold;
			color: #333;
		}
        .module-left{padding-top:50px;padding-left:120px;}
        .module-r{position: absolute;left:60%;;top:50px;}
        .equipNum{position: absolute;top:80px;left: 260px;text-align: center;}
        .runTime{position: absolute;top:30px;left: 150px;text-align: center;}
        .equipNum p,.runTime p{color: #999;}